<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="person" class="entity.Person">
        <property name="age" value="12"></property>
        <property name="name" value="lizhilei"></property>
    </bean>
    <!--目标方法-->
    <bean name="testTarget" class="aop.TestTarget"></bean>
    <!--通知，在切面的某个特定的连接点上执行的动作-->
    <bean name="advice" class="aop.TargetAdvice"></bean>
    <!--切点，定义对哪些方法进行拦截-->
    <bean name="pointCut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">
        <property name="pattern" value=".*method"></property>
    </bean>
    <!--advisor 是PointCut和Advice的综合体，完整描述了一个advice将会在pointcut所定义的位置被触发-->
    <bean id="testAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="pointCut"></property>
        <property name="advice" ref="advice"></property>
    </bean>
    <bean id="testProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="aop.AbcInterface"></property>
        <property name="target" ref="testTarget"></property>
        <property name="interceptorNames" value="testAdvisor">
        </property>
    </bean>
</beans>